{% load static %}
{% load l10n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="{% static "/img/favicon.ico" %}">
    <title>BAVSA</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/">
    <!-- Bootstrap core CSS -->
    <link href="{% static "/librerias/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Personalizado -->
    <link href="{% static "/css/login.css" %}" rel="stylesheet">
    <title>BAVSA</title>
</head>
<body>
    <div class="text-center mb-4" style="margin-left:11%;">
        <img class="mb-4" src="{% static "/img/logo.png" %}" alt="">
        <h1 class="h3 mb-3 font-weight-normal" style="color:white">Tu contraseña se restableció correctamente, podes iniciar sesion haciendo click  <a href="/">aca!</a> </h1>
    </div>
</body>
<script src="{% static "/librerias/bootstrap/bootstrap.min.js" %}"></script>
<script src="{% static "/librerias/jquery/jquery.min.js" %}"></script>
</html>