{% load static %}
{% load l10n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="{% static "/img/favicon.ico" %}">
    <title>BAVSA</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/">
    <!-- Bootstrap core CSS -->
    <link href="{% static "/librerias/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Personalizado -->
    <link href="{% static "/css/login.css" %}" rel="stylesheet">
    <title>BAVSA</title>
</head>
<body>
<div class="form-gap"></div>
<div class="container" style="color: white;">
    <div class="row">
        <div class="col-md-3 col-md-offset-3"></div>
        <div class="col-md-6 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img class="mb-4" src="{% static "/img/logo.png" %}" alt="">
                        <h2 class="text-center">Olvidaste tu contraseña?</h2>
                        <p>Ingresa tu email y te enviaremos un link de recuperación.</p>
                        <div class="panel-body">
                            <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                                {% csrf_token %}
                                {% for field in password_reset_form %}
                                    <div class="form-label-group">
                                        {{ field }}
                                        {{ field.label_tag }}
                                    </div>
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                                <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block"
                                           value="Reset Password" type="submit">
                                </div>

                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{% static "/librerias/bootstrap/bootstrap.min.js" %}"></script>
<script src="{% static "/librerias/jquery/jquery.min.js" %}"></script>
<script>
    window.onload = () => {
        let labels = document.getElementsByTagName("label")
        for (let label of labels) {
            let input = document.getElementById(label.htmlFor);
            input.classList.add("form-control");
        }
    }
</script>
</html>